<br>
<br>
<h1>Bookmark</h1>
<%= link_to "Add a list!", new_list_path %>
<ul class = "p-0 my-2">
  <% @lists.each do |list| %>
    <li class= "list-group-item text-center my-2"><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
